@import "./variables/colors";
@import "./mixins/mixins";

html :where(.wp-block) {
  max-width: 100% !important;
}

.edit-post-visual-editor {
  @import "./fonts/fonts";
  @import "./partials/grid";

  body,
  html {
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-size: 16px;
  }

  h1,
  .h1 {
    font-size: 62px;
    @include mobile {
      font-size: 42px;
    }
  }

  h2,
  .h2 {
    font-size: 38px;

    @include mobile {
      font-size: 26px;
    }
  }

  h3,
  .h3 {
    font-size: 28px;
    @include mobile {
      font-size: 22px;
    }
  }

  h4,
  .h4 {
    font-size: 21px;
    @include mobile {
      font-size: 18px;
    }
  }

  .text-primary {
    color: var(--primary);
  }

  .text-secondary {
    color: var(--secondary);
  }

  .link {
    color: var(--primary);
    font-weight: 600;
    text-decoration: none;
    font-family: proxima-nova, sans-serif;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;

    @include mobile {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .button {
    all: unset;
    color: var(--white);
    background: var(--secondary);
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: 700;
    min-width: 75px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  form {
    input {
      font-family: "Nunito Sans", sans-serif;
      &[type="submit"] {
        @extend .button;
      }
    }
    textarea {
      font-family: "Nunito Sans", sans-serif;
    }
  }

  .bg-green,
  .bg-secondary {
    background: var(--secondary);
    color: var(--primary);
  }

  .bg-primary,
  .bg-grey {
    background: var(--primary);
    color: var(--white);
  }

  .bg-light-grey {
    background: var(--light-grey);
    color: var(--primary);
  }

  .bg-white {
    background: var(--white);
    color: var(--primary);
  }
}
