@import "./fonts/fonts";
@import "./variables/colors";
@import "./mixins/mixins";
@import "./partials/grid";
@import "./partials/header";
@import "./partials/footer";

// import aos SCSS from node_modules
@import "~aos/src/sass/aos";

// import select2
@import "~select2/dist/css/select2";

body,
html {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}

h1,
.h1 {
  font-size: 62px;
  @include mobile {
    font-size: 42px;
  }
}

h2,
.h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;

  @include mobile {
    font-size: 34px;
  }
}

h3,
.h3 {
  font-size: 28px;
  @include mobile {
    font-size: 22px;
  }
}

h4,
.h4 {
  font-size: 21px;
  @include mobile {
    font-size: 18px;
  }
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
  font-family: proxima-nova, sans-serif;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;

  @include mobile {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.button {
  all: unset;
  color: var(--white);
  background: var(--secondary);
  padding: 10px 40px;
  border-radius: 30px;
  font-weight: 700;
  min-width: 75px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: lighten(#00d08b, 3%);
  }
}

form {
  input {
    font-family: "Nunito Sans", sans-serif;
    &[type="submit"] {
      @extend .button;
    }
  }
  textarea {
    font-family: "Nunito Sans", sans-serif;
  }
}

.bg-green,
.bg-secondary {
  background: var(--secondary);
  color: var(--primary);
}

.bg-primary,
.bg-grey {
  background: var(--primary);
  color: var(--white);
}

.bg-light-grey {
  background: var(--light-grey);
  color: var(--primary);
}

.bg-white {
  background: var(--white);
  color: var(--primary);
}

/* BEGIN: Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: lighten(#00d08b, 10%);
}
/* END: Scrollbar */
