.card-tabs {
  padding: 7rem 0 10rem;
  box-sizing: border-box;
  background: var(--light-grey);
  color: var(--primary);

  &--wrapper {
    display: flex;
    justify-content: center;
  }

  &--tabs {
    border: 1px solid var(--primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;

    button {
      padding: 17px 30px;
      box-sizing: border-box;
      cursor: pointer;
      border: none;
      outline: none;
      background: transparent;
      font-family: "Nunito Sans", sans-serif;

      &:first-child {
        padding-left: 40px;
      }

      &:last-child {
        padding-right: 40px;
      }

      &[aria-selected="true"] {
        background-color: var(--primary);
        font-weight: bold;
        color: var(--white);
      }
    }
  }

  &--content {
    > div {
      margin-top: 3.5rem;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;

      @media only screen and (max-width: 992px) and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
      }

      @media only screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
      }

      // if it doesn't have attribute "hidden"
      &:not([hidden]) {
        display: grid;
      }
    }
  }

  .gpt-card {
    min-height: 250px;
    background: var(--white);
    border-radius: 20px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

    &--inner {
      padding: 20px 30px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &--content {
      flex: 1;
      color: #707070;
    }

    &--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
      box-sizing: border-box;
    }

    &--top {
      padding-top: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      gap: 20px 0;
      margin-bottom: 5px;
    }

    &--title {
      display: flex;
      align-items: center;
      gap: 15px;

      > img {
        max-height: 38px;
        width: auto;
        max-width: 100%;
      }

      h3 {
        margin: 0;
        font-size: 18px;
      }
    }

    &--cat {
      width: 38px;
      height: 38px;

      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: right center;
      }
    }

    .button {
      display: inline-block;
      padding: 8px 30px;
    }
  }
}
