.footer {
  padding: 5rem 0;
  box-sizing: border-box;
  background: var(--primary);
  color: var(--white);

  h2 {
    margin: 0;
  }

  &--title {
    margin-bottom: 2.5rem;
  }

  &--inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    color: var(--off-white);
    padding-bottom: 8rem;
    box-sizing: border-box;

    @include mobile {
      flex-wrap: wrap;
    }

    h3 {
      font-family: IA Writer Duospace, monospace;
      margin: 0 0 8px;
      font-size: 18px;
    }

    p {
      margin: 0;
    }
  }

  &-col {
    &--left {
      flex: 0 0 35%;
      @include mobile {
        flex: 0 0 100%;
      }
    }
    &--right {
      flex: 0 0 50%;
      @include mobile {
        flex: 0 0 100%;
      }
    }
  }

  &--bottom {
    text-align: center;
    color: var(--off-white);

    &-logo {
      max-width: 120px;
      display: block;
      margin: 0 auto 2.5rem;

      picture,
      img {
        max-width: 100%;
        height: auto;
      }
    }

    &-copyright {
      > * {
        margin: 0;
      }
    }
  }

  &--socials {
    display: flex;
    gap: 15px;
    margin-top: 30px;

    svg,
    img {
      height: 20px;
      width: 20px;
    }

    svg {
      path {
        fill: var(--off-white);
        transition: fill 0.2s ease-in-out;
      }
      &:hover {
        path {
          fill: var(--secondary);
        }
      }
    }
  }

  form {
    label {
      width: 100%;
      display: block;

      > span {
        display: block;
        width: 100%;

        input {
          width: 100%;

          &[type="email"] {
            border: 1px solid var(--off-white);
            height: 45px;
            text-indent: 10px;
            border-radius: 5px;
            background: transparent;
            margin-bottom: 20px;
            outline: none !important;
            color: var(--white);
          }
        }
      }
    }

    input {
      &[type="submit"] {
        margin-left: auto;
        display: block;
      }
    }
  }
}
